@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

//global
html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    /* font-family: "Lora", serif; */
    margin-top: 80px;
    padding: 10;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 17px;
}

a {
    color: #cbb58b;
    -webkit-transition: all 03s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a:hover {
    text-decoration: none !important;
    color: #fff;
}

.kotakk {
    width: 350px;
    height: 150px;
}
.btn-default {
    text-transform: uppercase;
    color: #4fa7ff;
    background: none;
    border: 3px solid #4fa7ff;
    font-size: 18px;
    padding: 16px 36px;
    border-radius: 0;
}

.btn-history {
    text-transform: uppercase;
    color: #fff;
    background: none;
    border: 3px solid #fff;
    font-size: 18px;
    padding: 16px 36px;
    border-radius: 0;
}

.btn {
    font-family: "Lora", serif;
    cursor: pointer;
}
//slider
.slider_img {
    width: 100%;
    background: #000;
}
.slider_img img {
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
}
@media (max-width: 500px) {
    .slider_img img {
        max-height: 730px;
    }
}

.carousel-caption {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}
@media (min-width: 992px) {
    .carousel-caption {
        -webkit-transform: translateY(-57%);
        -ms-transform: translateY(-57%);
        transform: translateY(-57%);
        top: 57%;
    }
    .layout_two .carousel-caption {
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
    }
}
@media (max-width: 500px) {
    .carousel-caption {
        top: 45%;
    }
}

.slider_title h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    font-weight: 700;
}
@media (max-width: 576px) {
    .slider_title h1 {
        margin-bottom: 18px;
    }
}

.slider_title h4 {
    color: #fff;
    text-align: center;
    line-height: 1.8;
}

.slider-btn {
    text-align: center;
    margin: 42px 0 0;
}

.carousel-indicators .active {
    background: #cbb58b;
}

.fa-slider {
    padding: 14px 14px;
    border: 2px solid #fff;
    font-size: 29px;
    border-radius: 2px;
}

@media (max-width: 768px) {
    .kotakk {
        display: none;
    }
    .slider_title h1 {
        font-size: 42px;
    }
    .slider_title h4 {
        font-size: 19px;
        line-height: 1.5;
    }
    .btn-default {
        width: 50%;
        margin-bottom: 10px;
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .slider_title {
        margin: 0 0 80px;
    }
    .slider_title h1 {
        font-size: 32px;
    }
    .slider_title h4 {
        font-size: 18px;
        line-height: 1.5;
    }
    .btn-default {
        width: 100%;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .fa-slider {
        border: none;
        padding: 0;
    }
}

.bg-profile {
    background: url(../assets/slider3.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 150px 0;
}
//welcome
.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}
.bxs-book-reader {
    font-size: 4rem;
    margin: 1rem;
    color: #4fa7ff;
}

//vision
.vision p {
    font-size: 700px;
}
.vision .visi {
    border-bottom: 10px solid #4fa7ff;
    border-radius: 10px;
}
.vision p {
    padding: 2rem;
}

//events
.events {
    padding: 98px 0;
}

.event-title {
    font-weight: 700;
    margin: 0 0 24px;
}

.event-date {
    background: #cbb58b;
    padding: 20px 5px;
}
.event-date h4 {
    font-size: 76px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin: 0;
}
.event-date span {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #fff;
    display: block;
}

.event-time {
    background: #b39a6b;
    padding: 8px 0;
    display: block;
    color: #e8dabe;
    text-align: center;
}

.event-heading {
    margin: 0 0 20px;
}
.event-heading h3 {
    font-weight: 700;
    margin: 0 0 24px;
}
.event-heading p {
    line-height: 1.8;
}

.event-hilights h5 {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 24px;
}

.event-highlight-discription {
    margin: 50px 0 0px;
}
.event-highlight-discription p {
    line-height: 1.8;
    margin: 0 0 50px;
}

.event-toggle {
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: underline;
    color: #cbb58b;
    font-weight: 700;
}

.event-toggle:focus {
    color: #cbb58b;
}

.event-toggle:hover {
    color: #b39a6b;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.tab-list {
    color: #2d2d2d;
    font-weight: 700;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-bottom: 2px solid #cbb58b;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    color: #cbb58b;
}

.nav-tabs {
    border: none;
    float: right;
}
.nav-tabs .nav-link {
    border-bottom: 1px solid #eee;
}

.nav-special-br {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #fff #fff #fff;
    color: #cbb58b;
    border-bottom: 2px solid #cbb58b;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.event-underline {
    margin: 68px 0 68px 0;
}

@media (max-width: 1200px) {
    .nav-link {
        padding: 8px 12px;
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    .event-date {
        padding: 12px 5px;
    }
    .event-date h4 {
        font-size: 36px;
    }
    .event-date span {
        font-size: 15px;
    }
    .event-time {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .nav-tabs {
        float: left;
    }
    .event-time {
        font-size: 17px;
    }
    .event-heading {
        margin: 0 0 30px;
    }
    .event-heading h3 {
        margin: 12px 0;
        font-size: 21px;
    }
    .event-heading p {
        font-size: 15px;
    }
    .tab-content img {
        width: 100%;
        margin: 0 0 12px;
    }
    .event-underline {
        margin: 20px 0 30px 0;
    }
    .event-highlight-discription {
        margin: 12px 0 0px;
    }
    .event-highlight-discription p {
        margin: 0 0 8px;
    }
}

@media (max-width: 320px) {
    .nav-link {
        padding: 4px 7px;
        font-size: 13px;
    }
}

//event
.event {
    padding: 97px 0;
    background: #fff;
}
.event h2 {
    font-weight: 600;
    margin: 0 0 28px;
}

.event-img {
    position: relative;
    -webkit-box-shadow: 0px 25px 90px 3px #c7c5c7;
    -moz-box-shadow: 0px 25px 90px 3px #c7c5c7;
    box-shadow: 0px 25px 90px 3px #c7c5c7;
    border-radius: 5px;
}
@media (max-width: 991px) {
    .event-img {
        margin-bottom: 50px;
    }
}
.event-img img {
    width: 100%;
    border-radius: 5px;
}

.event-img_date {
    position: absolute;
    top: 28px;
    left: 48px;
    background: #cbb58b;
    border-radius: 2px;
    padding: 8px 12px;
    color: #fff;
    font-size: 13px;
}
@media (max-width: 575px) {
    .event-img_date {
        display: none;
    }
}

.event-img_title {
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        black 100%
    );
    background: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        black 100%
    );
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(255, 255, 255, 0)),
        to(black)
    );
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, black 100%);
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        black 100%
    );
    padding: 85px 0 20px 0;
    border-radius: 5px;
}
.event-img_title h3 {
    color: #fff;
    padding-left: 48px;
    position: relative;
}
@media (max-width: 575px) {
    .event-img_title h3 {
        padding-left: 20px;
    }
}
.event-img_title p {
    color: #e3e3e3;
    font-size: 17px;
    padding: 16px 48px 0 48px;
}
@media (max-width: 575px) {
    .event-img_title p {
        padding: 15px 20px;
    }
}
@media (max-width: 575px) {
    .event-img_title {
        padding: 0;
    }
}

.event-img_title h3:after {
    height: 2px;
    width: 21px;
    background: #fff;
    content: "";
    position: absolute;
    left: 48px;
    top: 115%;
}
@media (max-width: 575px) {
    .event-img_title h3:after {
        left: 20px;
    }
}

.event_date {
    width: 82px;
    background: #4fa7ff;
    float: left;
    text-align: center;
    border-radius: 2px;
}
.event_date img {
    float: left;
}

.event-date-wrap {
    border: 1px dashed white;
    margin: 8px 8px;
    padding: 4px 0;
}
.event-date-wrap p {
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}
.event-date-wrap span {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.date-description {
    margin-left: 115px;
}
.date-description h3 {
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 25px;
    position: relative;
}
.date-description h3:after {
    height: 2px;
    width: 21px;
    background: #cbb58b;
    content: "";
    position: absolute;
    left: 0;
    top: 115%;
}

.btn-read {
    padding: 10px 20px !important;
    font-size: 14px;
}

.event_line {
    margin: 40px 0;
}

.history {
    background: url(../assets/bgBlue.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.history h2 {
    font-weight: bold;
    color: white;
}
.history p {
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 30px;
}

//galery
.galery {
    margin: 50px 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}
.galery img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border: 1px solid #eee;
    box-shadow: 1px 2p 3px #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}
.galery h2 {
    font-weight: bold;
}

//our courses
.our_courses {
    background: #f2f2f2;
    padding: 97px 0;
}
.our_courses h2 {
    font-weight: 700;
    margin: 0 0 28px;
}
.our_courses .courses_box a {
    text-decoration: none;
    color: #2d2d2d;
}
.our_courses .courses_box {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0px 10px 90px -6px #c7c5c7;
    -moz-box-shadow: 0px 10px 90px -6px #c7c5c7;
    box-shadow: 0px 10px 90px -6px #c7c5c7;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    min-height: 340px;
}
.our_courses .courses_box img {
    margin: 0;
    width: 100%;
}
.our_courses .courses_box p {
    margin: 0;
}
.our_courses .courses_box h3 {
    font-weight: 600;
}
.our_courses .courses_box:hover {
    -webkit-box-shadow: 0px 40px 90px -6px #c7c5c7;
    box-shadow: 0px 40px 90px -6px #c7c5c7;
    margin-top: -5px;
}

//berita
.blog-wrap {
    margin-top: 90px;
}

.blog-img_block {
    position: relative;
}
.blog-img_block img {
    padding-left: 40px;
    width: 800px;
    height: 400px;
}

.blog-date {
    background: #2d2d2d;
    padding: 12px 16px;
    border-radius: 2px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.blog-date span {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.blog-tiltle_block {
    padding: 30px 0 0 100px;
}
.blog-tiltle_block h4 {
    font-weight: 700;
}
.blog-tiltle_block h4 a {
    font-size: 20px;
    text-decoration: none;
}
.blog-tiltle_block h6 a {
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
}
.blog-tiltle_block h6 a span {
    padding-left: 5px;
}
.blog-tiltle_block h6 a:first-child {
    padding-left: 0;
}
.blog-tiltle_block p {
    line-height: 1.8;
    padding: 22px 16px 0 0;
}
.blog-tiltle_block a {
    color: #2d2d2d;
    font-size: 13px;
    text-decoration: underline;
    font-weight: 700;
}

.blog-icons {
    border-top: 1px solid #e3eaef;
    border-bottom: 1px solid #e3eaef;
    margin: 36px 0;
    padding: 8px 0;
}
.blog-icons .blog-share_block {
    text-align: right;
    line-height: 1.3;
}
.blog-icons .blog-share_block ul {
    display: inline-block;
    padding: 3px 0 0;
    margin: 0;
}
.blog-icons .blog-share_block ul li {
    list-style: none;
    float: right;
}
.blog-icons .blog-share_block ul li a {
    margin: 0 0 0 25px;
    color: #ccc;
}

.quote-right {
    float: right;
}

.blog-search {
    border: 1px solid #ccc;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 15px;
    margin-top: 20px;
}

.btn-blogsearch {
    background: #4fa7ff;
    padding: 11px 16px;
    font-size: 15px;
    outline: none;
}

.blog-category_block {
    padding: 30px 0;
}
.blog-category_block h3 {
    font-weight: 700;
    margin: 0 0 24px;
}
.blog-category_block ul {
    margin: 0;
    padding: 0;
}
.blog-category_block ul li {
    list-style: none;
    margin: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.blog-category_block ul li a {
    color: #2d2d2d;
    text-decoration: none;
    padding-bottom: 10px;
    display: block;
}
.blog-category_block ul li a i {
    float: right;
}
.blog-category_block ul li a:hover {
    opacity: 0.8;
}
.blog-category_block ul hr {
    margin: 0;
}
.blog-category_block ul ul {
    background: #f7f7f7;
    padding: 20px;
}
.blog-category_block ul ul li {
    border-bottom-color: #fff;
}

.blog-featured_post h3 {
    font-weight: 700;
    margin: 0 0 24px;
}

.blog-featured_post hr {
    margin: 24px 0;
}

.blog-featured-img_block img {
    float: left;
    margin: 0 28px 0 0;
}

.blog-featured-img_block h5 {
    font-weight: 700;
    font-size: 17px;
    margin-left: 150px;
}

.blog-featured-img_block p {
    font-size: 15px;
    margin-left: 150px;
}

.blog-featured-img_block a {
    color: #292b2c;
}

.blog-tags_wrap {
    margin: 50px 0 0;
}
.blog-tags_wrap h3 {
    font-weight: 700;
    margin: 0 0 24px;
}

.blog-tags {
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px 29px;
    margin: 0 0 18px 18px;
    color: #313131;
    font-size: 14px;
}

.detailed-chart {
    background: url(../assets/slider4.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 97px 0;
}

.chart-img img {
    margin: 21px 0 0;
    padding-right: 16px;
    float: left;
}

.chart-img p {
    display: inline-block;
    color: #fff;
    font-size: 46px;
    font-weight: 700;
}
.chart-img p span {
    font-size: 24px;
    display: block;
    font-weight: 100;
}

.chart-text {
    margin: 11px 0 0;
    display: inline-block;
}
.chart-text p {
    color: #fff;
    font-size: 23px;
}
.chart-text p span {
    font-size: 40px;
    display: block;
    line-height: 1.3;
}

@media (max-width: 1200px) {
    .chart-img img {
        margin: 10px 0 0;
    }
    .chart-img p {
        font-size: 36px;
    }
    .chart-img p span {
        font-size: 17px;
    }
    .chart-text {
        margin: 0;
    }
    .chart-text p {
        font-size: 17px;
    }
    .chart-text p span {
        font-size: 36px;
    }
}

@media (max-width: 992px) {
    .chart-img {
        display: block;
    }
    .chart-img img {
        float: none;
        margin: 0 auto 15px;
        padding: 0;
        display: block;
    }
    .chart-text {
        text-align: center;
        display: block;
        margin: 0px 0 0;
    }
}

@media (max-width: 768px) {
    .chart_bottom {
        margin: 0 0 26px;
    }
    .chart_top {
        margin: 0 0 26px 0;
    }
}

.page-item {
    margin: 0 8px 0 0;
}

.page-link {
    line-height: 1;
    color: #2d2d2d;
    font-size: 14px;
    border-color: #e3eaef;
}

.page-next {
    background: #cbb58b;
    color: #fff;
    border-color: transparent;
}

.page-link:focus,
.page-link:hover {
    background-color: #f4e9d4;
    color: #2d2d2d;
}

@media (max-width: 1200px) {
    .blog-search {
        width: 100%;
    }
    .btn-blogsearch {
        width: 100%;
        margin-top: 10px;
    }
    .blog-featured-img_block img {
        margin: 0 12px 0 0;
    }
    .blog-tags {
        padding: 5px 20px;
    }
}

@media (max-width: 992px) {
    .blog-date span {
        font-size: 15px;
    }
    .pagination {
        margin: 0;
    }
    .blog-tiltle_block,
    .blog-img_block img {
        padding-left: 0;
    }
    .blog-icons {
        margin-top: 12px;
    }
    .blog-featured-img_block img {
        width: 100%;
        margin: 0 0 10px 0;
    }
    .blog-featured-img_block p,
    .blog-featured-img_block h5 {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .blog-search {
        margin: 30px 0 0;
    }
}

@media (max-width: 480px) {
    .pagination li {
        display: none;
    }
    .pagination li:first-child,
    .pagination li:last-child {
        display: block;
    }
}

//social media
.social a {
    font-size: 4.5rem;
    padding: 3rem;
}
.fa-facebook {
    color: #3b5998;
}
.fa-twitter {
    color: #00aced;
}
.fa-google-plus-g {
    color: #dd4b39;
}
.fa-instagram {
    color: #517fa4;
}
.fa-youtube {
    color: #bb0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
    color: #d5d5d5;
}
.fa-slider {
    padding: 14px 14px;
    border: 2px solid #fff;
    font-size: 29px;
    border-radius: 2px;
}

//vision Mision

.visionMision {
    background: url(../assets/slider3.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 97px 0;
}

.title h1 {
    font-weight: bold;
    color: white;
}

.title p {
    color: white;
    font-style: italic;
    font-size: 25px;
}
footer {
    background-color: #4fa7ff;
    color: #fff;
    padding-top: 2rem;
}
hr .light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}
footer a {
    color: #d5d5d5;
}
hr .light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.footer .bx-phone {
    float: left;
    margin-right: 5px;
    font-size: 25px;
}

.footer .bx-envelope {
    float: left;
    margin-right: 5px;
    font-size: 25px;
}
/*---Media Queries --*/
/* @media (max-width: 1500px) {
    .kotak {
        margin-left: 70px;
    }
} */
@media (max-width: 992px) {
    .soci;
}
@media (max-width: 768px) {
    .carousel-caption {
        top: 45%;
    }
    .carousel-caption h1 {
        font-size: 350%;
    }
    al a {
        font-size: 4em;
        padding: 2rem;
    }
    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: 0.2rem;
    }
    .carousel-caption .btn {
        font-size: 95%;
        /* padding: 8px 14px; */
    }
    .display-4 {
        font-size: 200%;
    }
    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
    }
}
@media (max-width: 576px) {
    .carousel-caption {
        top: 40%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-caption h3 {
        font-size: 110%;
    }
    .carousel-caption .btn {
        font-size: 90%;
        /* padding: 8px 14px; */
    }
    .carousel-indicators {
        display: none;
    }
    .display-4 {
        font-size: 160%;
    }
    .social a {
        font-size: 2em;
        padding: 0.7rem;
    }
}

/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 !important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed {
    background-image: url("/assets/bgBlue.png");
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
